doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    link(href="css/style.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300i&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:700&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400i&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:500&amp;subset=cyrillic" rel="stylesheet")
    title Мосплитка
  body
    a(href="#top").scroll-top-btn
    a(name="top")
    header.main-header
      a.main-logo(href="index.html" title="#")
        img(src="./img/header-logo.png" width="182" height="22" alt="Лого. Ссылка на главную страницу")
      nav  
        ul.main-nav
          li
            a(href="catalog.html" title="#") Каталог
          li
            a(href="news.html" title="#") Новости
          li.main-nav__active-link
            a(href="#" title="#") Скачать
          li
            a(href="orders.html" title="#") Сотрудничество
          li
            a(href="contacts.html" title="#") Карта дилеров
          li
            a(href="contacts.html" title="#") Контакты

      a.main-header__call-us(href="tel:+78002501080" title="#") 8 800 250 10 80
      .main-header__custom-actions
        a.main-header__search(href="#" title="#")
        a.main-header__login(href="orders.html" title="#") Вход
        a.main-header__my-basket(href="orders.html" title="#") 0

    .page-heading(style="background: #b09e8a url(img/catalog-h-bg.jpg)")
      .page-heading__text Дилер

    .content
      .stop-access
        .stop-access__overflow
        .stop-access__form
            form(action="#")
              .stop-access__cause
                .stop-access__cause-h Данный раздел доступен только нашим партнерам
                .stop-access__cause-description Чтобы стать партнером, вам необходимо отправить к нам заявку. Все заявки рассматриваются нами в течении одной рабочей недели, при необходимости мы можем связаться с вами для уточнения некоторых вопросов.
                .stop-access__cause-description Отпрвляйте, пишите, звоните. Мы рады новому сотрудничеству

              .stop-access__form-heading Отправить заявку
                .stop-access__client-data
                  .stop-access__input-container.contacts__input-container--client-name
                    input(type="text" name="client-name" placeholder="Имя*" required)
                  .stop-access__input-container.contacts__input-container--city
                    input(type="text" name="сity" placeholder="Город*" required)
                  .stop-access__input-container.contacts__input-container--client-mail
                    input(type="email" name="client-mail" placeholder="E-mail*" required)
                  .stop-access__input-container.contacts__input-container--client-tel
                    input(type="tel" name="client-tel" placeholder="Телефон*" required)

              textarea(name="message" placeholder="Сообщение" required rows="7")

              input.stop-access__send-message(type="button" value="Отправить заявку на сотрудничество")

      .login-form
        .login-form__overflow
        .login-form__container
          .login-form__form
            form(action="#")
              .login-form__heading Вход в кабинет дилера
              .login-form__input-area
                input(type="email" name="mail" placeholder="E-mail:*" required)
                input(type="password" name="password" placeholder="Пароль:*" required)
              .login-form__entrance
                a.login-form__entrance-btn Войти
                input(type="checkbox" id="remember-me")
                label(for="remember-me") Запомнить меня
              .login-form__extra-links
                a(href="" title="") Я забыл пароль
                a(href="" title="") Отправить заявку на регистрацию

      .page-header
        .page-header__inner-container
          .page-header__name Скачать каталоги
          .page-header__transition
            a(href="#" title="#" class="page-header__nav-prev") Главная
            a(title="#" class="page-header__this") Скачать

      .catalog-downloads(style="background: #fafafa; padding: 30px 0 76px 0;")
        .content-container
          .paginator
            ul.paginator-items
              li
                a.paginator__active-filter(href="#" title="#") Все
              li
                a(href="#" title="#") Marazzi
              li
                a(href="#" title="#") Kerama Marazzi
              li
                a(href="#" title="#") Бренд 3
              li
                a(href="#" title="#") Бренд 4
              li
                a(href="#" title="#") Бренд...

            .paginator__page-nav
              .paginator__step-back
              span.paginator__page-position 1 из 34
              .paginator__step-forward
          .catalog-download
            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Kerama Marazzi
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Marazzi
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Kerama marazzi керамогранит
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Kerama marazzi основной каталог 2017
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Ragno 2017
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Полный каталог мосплитка 2016
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Kerama Marazzi
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Kerama Marazzi
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail

            .catalog-download__item
              img(src="img/catalog.jpg" width="367" height="231" alt="Каталог")
              .catalog-download__catalog-name Kerama Marazzi
              .catalog-download__actions
                a.catalog-download__pdf-download Скачать PDF
                a.catalog-download__send-to-mail Отправить по Еmail


          .paginator
            ul.paginator-items

            .paginator__page-nav
              .paginator__step-back
              span.paginator__page-position 1 из 34
              .paginator__step-forward

    footer.main-footer
      section.main-footer__info-container
        a.main-footer__logo(href="index.html" title="#")
          img(src="img/footer-logo.png" width="372" height="45" alt="Лого. Переход на главную страницу")
        .main-footer__info-content

          .main-footer__info-item.main-footer__info-item--schedule
            .main-footer__info-heading Время работы
            p Ежедневно: 9:00 - 21:00
            p Время отгрузки: 10:00 - 20:00

          .main-footer__info-item.main-footer__info-item--contacts
            .main-footer__info-heading Наши контакты
            p Адрес: Московская область, г. Подольск, пр. Юнных Ленинцев, д.41
            a(href="tel:+74951234469" title="#") Телефон: +7 (495) 123-44-69
            a(href="mailto:sosenki@mosplitka.ru" title="#") E-mail: sosenki@mosplitka.ru

      nav.main-footer__footer-navigation
        .main-footer__nav-inn-container
          .main-footer__copyright 	&copy; Copyright 2017
          ul.main-footer__nav
            li
              a(href="index.html" title="#") О компании
            li
              a(href="contacts.html" title="#") Адрес
            li
              a(href="contacts.html" title="#") Контакты
            li
              a(href="#" title="#") Политика конфиденциальности
          .main-footer__social
            a.main-footer__social-link.main-footer__social-link--twitter(href="#" title="#")
            a.main-footer__social-link.main-footer__social-link--facebook(href="#" title="#")
            a.main-footer__social-link.main-footer__social-link--linkedin(href="#" title="#")
            a.main-footer__social-link.main-footer__social-link--instagram(href="#" title="#")
            a.main-footer__social-link.main-footer__social-link--youtube(href="#" title="#")
            a.main-footer__social-link.main-footer__social-link--google(href="#" title="#")
            a.main-footer__social-link.main-footer__social-link--pinterest(href="#" title="#")
