OpenSans(weight, size) {
  font-family "Open Sans", "Arial", sans-serif
  font-weight weight
  font-size size
}
Roboto(weight, size) {
  font-family "Roboto", "Arial", sans-serif
  font-weight weight
  font-size size
}
RobotoThIt(weight, size) {
  font-family "Roboto Thin Italic", "Arial", sans-serif
  font-style italic
  font-weight weight
  font-size size
}
