.catalog-download
  display flex
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 53px

.catalog-download__item
  display: flex;
  flex-direction: column;
  width 367px
  padding-bottom: 60px

.catalog-download__catalog-name
  margin 30px auto 12px auto
  Roboto(normal, 13px)
  text-transform: uppercase;
  color dark-text

.catalog-download__actions
  display: flex;
  justify-content: center;

  a
    margin: 0 9px
    Roboto(normal, 12px)
    font-style: italic;
    color #5d5d5d
    cursor: pointer;

  .catalog-download__pdf-download
    color carrot
