.main-nav
  display flex
  margin-left: 50px;

.main-nav a
  OpenSans(normal, 12px)
  margin-right 31px
  text-transform uppercase
  color dark

li.main-nav__active-link a
  color carrot

li:hover a
  color carrot
