.news
  background #fafafa
  padding-bottom 94px
.news__items-container
  width 1138px
  display flex
  flex-direction column
  margin 0 auto 70px auto

.news__item
  display flex
  margin-top 40px

.news__content-container
  display flex
  flex-direction column
  width 570px
  padding 37px 33px 0 33px
  background #fff

.news__item-heading
  Roboto(normal, 17px)
  letter-spacing 1.7px
  text-transform uppercase
  width 480px
  color dark-text

.news__tags
  display flex
  margin-top 21px
  a
    margin-right 3px
    RobotoThIt(normal, 13px)
    color #585858

.news__descript
  margin-top 20px
  margin-bottom: auto;

  p
    Roboto(400, 14px)
    line-height 22px
    color #5d5d5d

.news__add-info
  display flex
  justify-content space-between
  padding 0 3px 33px 3px
  letter-spacing: 0.7px

.news__news-date
  Roboto(normal, 13px)
  color #5d5d5d

.news__to-full-news
  padding-right 20px
  position relative
  Roboto(normal, 13px)
  color carrot

  &::before
    content ""
    display block
    position absolute
    top 4px
    right 0
    width 5px
    height 5px
    border-top 2px solid carrot
    border-right 2px solid carrot
    transform rotate(45deg)
