.page-header
  width 100%
  border-bottom 1px solid gray

.page-header__inner-container
  display flex
  justify-content center
  width 1138px
  margin 0 auto
  padding 37px 0 35px 0
  position relative

.page-header__name
  text-transform uppercase
  Roboto(400, 22px)
  color dark-text

.page-header__transition
  display flex
  justify-content flex-end
  position absolute
  top 45%
  right 0
  Roboto(400, 12px)

  .page-header__nav-prev
    position relative
    color dark-text
    padding 0 15px 0 0
    margin-right 10px

  .page-header__nav-prev::before
    content "/"
    display block
    position absolute
    top 0px
    right 0
  .page-header__this
    color #53abe4
