.philosophy
  width 100%
  padding 63px 0 87px 0
  margin-top 40px

.philosophy__inner-container
  width 1138px
  display flex
  flex-direction column
  margin 0 auto

/* ШРИФТ ??? */
.philosophy__heading
  RobotoThIt(normal, 42px)
  letter-spacing 1.3px
  text-transform uppercase
  color dark-text

.philosophy__sub-heading
  margin-top 15px
  RobotoThIt(normal, 16px)
  color dark-text

.philosophy__content
  display flex
  flex-direction column
  text-align center
  margin-top: 240px

  p
    OpenSans(400, 15px)
    letter-spacing 0.3px
    line-height 26px
    font-style italic
    color #4a4a4a
