.show-more-link
  display flex
  width 223px
  margin 0 auto 0 auto
  padding 17px 0
  Roboto(normal, 13px)
  text-transform uppercase
  color #fff
  background carrot

.show-more-link__text
  margin 0 auto
  letter-spacing 1.3px
